.chatOuterContainer{
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100vh;
    background: url('../../picture/photo-1588097237448-45f7aadebae1.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 100px;
}

.chatInnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgrey;
    border-radius: 8px;
    height: 100vh;
    width: 35%;
    overflow-y: scroll;
}

.chatMessages{
    width: 400px;
    height: 400px;
    background-color: lightgrey;
}
